body {
    background: url("../img/bg.svg") top right no-repeat;
}

.jumbotron {
    background-color: rgba(0,0,0,0);
}

.card {
    box-shadow: 0 40px 85px #a9beda;
    border: 0;
    border-radius: 10px;
}

.square {
    margin: 10px;
    height: 25vh;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.125);
    position: relative;
}

.square-inner {
    position: absolute;
}

.square-top-left {
    top: 10px;
    left: 10px;
}

.square-top-center {
    top: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
}

.square-top-right {
    top: 10px;
    right: 10px;
}

.square-bottom-left {
    bottom: 10px;
    left: 10px;
}

.square-bottom-center {
    bottom: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
}

.square-bottom-right {
    bottom: 10px;
    right: 10px;
}

.text-primary {
    color: #23226b !important;
}

.btn-primary {
    background-color: #5f679c;
    border-color: #5f679c;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #23226b !important;
    border-color: #23226b !important;
    box-shadow: 0 0 0 .2rem rgba(95, 103, 156, 0.5);
}

.list-group-item.active {
    background-color: #23226b;
    border-color: #23226b;
}

.list-group-item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.list-group-item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.code-block {
    border-radius: 10px;
}

.example-snack {
    min-width: 450px;
    font-size: 17px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
    overflow: hidden;
    display: flex;
    padding: 16px;
    border-radius: 8px;
    background-color: #323377;
    color: #fff;
    position: relative;
}
.example-snack.success {
    background-color: #28a745;
}
.example-snack.danger {
    background-color: #dc3545;
}
.example-snack.warning {
    background-color: #ffc107;
    font-weight: 600;
}
.example-snack.info {
    background-color: #17a2b8;
    color: white;
}
